accelerate==1.11.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
anthropic==0.72.0
anyio==4.11.0
astroid==4.0.2
asyncio==4.0.0
attrs==25.4.0
Authlib==1.6.5
beartype==0.22.5
bitsandbytes==0.48.2
black==25.9.0
blinker==1.9.0
boto3==1.40.73
botocore==1.40.73
cachetools==6.2.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
coverage==7.11.0
cryptography==46.0.3
cyclopts==4.2.3
datasets==4.4.1
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docker==7.1.0
docstring_parser==0.17.0
docutils==0.22.3
email-validator==2.3.0
exceptiongroup==1.3.0
fastmcp==2.13.0.2
filelock==3.20.0
flake8==7.3.0
Flask==3.1.2
frozenlist==1.8.0
fsspec==2025.10.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-generativeai==0.8.5
googleapis-common-protos==1.72.0
GPUtil==1.4.0
grpcio==1.76.0
grpcio-status==1.71.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.36.0
idna==3.11
iniconfig==2.3.0
isort==7.0.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
Jinja2==3.1.6
jiter==0.11.1
jmespath==1.0.1
joblib==1.5.2
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
keyring==25.6.0
langchain==0.2.17
llama_cpp_python==0.3.16
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mccabe==0.7.0
mcp==1.21.0
mdurl==0.1.2
more-itertools==10.8.0
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.18
mypy==1.18.2
mypy_extensions==1.1.0
narwhals==2.11.0
networkx==3.5
numpy>=1.17,<2
ollama==0.6.0
openai==2.7.1
openapi-pydantic==0.5.1
opencv-python==4.12.0.88
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.3
pathable==0.4.4
pathspec==0.12.1
pathvalidate==3.3.1
peft==0.17.1
pillow==12.0.0
platformdirs==4.5.0
plotly==6.4.0
pluggy==1.6.0
propcache==0.4.1
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.1.3
py-key-value-aio==0.2.8
py-key-value-shared==0.2.8
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycodestyle==2.14.0
pycparser==2.23
pydantic==2.12.4
pydantic-settings==2.12.0
pydantic_core==2.41.5
pyflakes==3.4.0
PyGetWindow==0.0.9
Pygments==2.19.2
PyJWT==2.10.1
pylint==4.0.2
PyMsgBox==2.0.1
pyparsing==3.2.5
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytesseract==0.3.13
pytest==9.0.1
pytest-asyncio==1.2.0
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
pytokens==0.3.0
pytweening==1.2.0
pytz==2025.2
PyYAML==6.0.3
redis==7.0.1
referencing==0.36.2
regex==2025.11.3
requests==2.32.5
rich==14.2.0
rich-rst==1.3.2
rpds-py==0.28.0
rsa==4.9.1
s3transfer==0.14.0
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.3
selenium==4.38.0
sentence-transformers==5.1.2
sentencepiece==0.2.1
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sse-starlette==3.0.3
starlette==0.50.0
streamlit==1.51.0
sympy==1.14.0
tenacity>=8.1.0,<9.0.0
threadpoolctl==3.6.0
tokenizers==0.22.1
toml==0.10.2
tomlkit==0.13.3
toon-python==0.1.2
toon_format @ git+https://github.com/toon-format/toon-python.git@9c4f0c0c24f2a0b0b376315f4b8707f8c9006de6
torch==2.9.1
torchaudio==2.9.0
torchvision==0.24.0
tornado==6.5.2
tqdm==4.67.1
transformers==4.57.1
trio==0.32.0
trio-websocket==0.12.2
trl==0.25.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.38.0
webdriver-manager==4.0.2
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
wsproto==1.2.0
xxhash==3.6.0
yarl==1.22.0
prompt-toolkit==3.0.50
